{
  "plugins": [
    "jest"
  ],
  "extends": "airbnb-base",
  "rules": {
    "no-restricted-syntax": 0,
    "no-plusplus": 0,
    "no-labels": 0,
    "no-param-reassign": 0,
    "no-return-assign": 0,
  },
  "env": {
    "jest/globals": true
  }
}
